@import "variables.scss";

body {
    font-family: -apple-system,"Helvetica Neue","Roboto","Arial","PingFang SC",sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 24px;
    line-height: 1;
    color: #000;
    position: relative;
}

html, body{
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
}

.wrapper{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow-y: auto;
}

a{
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

h2{
    font-size: 26px; /*no*/
    font-weight: 400;
}

h3{
    font-size: 21px; /*no*/
    font-weight: 300;
}

mark {
    background-color: rgba(249, 217, 66, 0.4);
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #999999;
    font-size: 30px;
}
input:-moz-placeholder, textarea:-moz-placeholder {
    color: #999999;
    font-size: 30px;
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color: #999999;
    font-size: 30px;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #999999;
    font-size: 30px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    line-height: 0px;
    font-size: 0px;
    visibility: hidden;
}

.hide{
    display: none !important;
}

.page{
    height: 100%;
    width: 100%;
}
