<div class="home page">
    <div class="home-copy">
        <div class="home-content">
            <h2>写「漂亮的」代码</h2>
            <h3>热爱生活，和喜欢的<mark>菇凉</mark>上床睡觉</h3>
        </div>
    </div>
</div>
<div class="project">
    <h2><span>开源项目</span></h2>
    <div class="project-wrapper">
        <a class="project-item" href="https://github.com/MeituPhone/h5-cli">
            <div class="project-name">H5Cli</div>
            <div class="project-desc">一个简洁的h5脚手架</div>
        </a>
        <a class="project-item" href="https://github.com/MeituPhone/coo-vue">
            <div class="project-name">CooVue</div>
            <div class="project-desc">一个响应式Vue组件库</div>
        </a>
    </div>
</div>